bin/
obj/

.idea/
.idea.*
*.DotSettings.user

TestResults/
*.trx
*.coverage
*.cobertura.xml

coverage-report/
coverage/
**/coverage*/          # на случай вложенных каталогов
*.html                  # если отчёт сгенерён в корне

.vscode/
*.user
*.suo

packages/

*.log
*.log.*
